main {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  grid-gap: 0px;
}
app-square {
  border: 1px gray solid;
  height: 10rem;
}

// main {
//     display: grid;
//     grid-template-columns: 10rem 200px 200px;
//     grid-gap: 0px;
// }

// app-square {
//     border: 1px gray solid;
//     height: 200px;
// }
